@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url("/assets/libs/FontAwesome_v6.4.0/css/all.css");
/*
font-family: 'Rajdhani', sans-serif;
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition:all 0.3s ease;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: transparent;
    transition:all 0.3s ease;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(198, 68, 253, 0.3);
    border-radius: 100vh;
    transition:all 0.3s ease;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(198, 68, 253, 0.5);
  }
  
  .scrollbar-0::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .scrollbar-1::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
  }
  .scrollbar-1::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
  }
  .scrollbar-1::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.5);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

*,*:focus{outline:none;}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani',sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}
